.o_dropdown_menu {
    > .dropdown-divider:first-child {
        display: none;
    }

    min-width: 150px;
    max-height: calc(100vh - 125px); // FIXME
    overflow: visible;

    .o_menu_item {
        position: relative;

        &.o_filter_default {
            border-left: 2px solid $o-brand-primary;
        }
        &:not(.o_filter_default) {
            border-left: 2px solid transparent;
        }

        > .dropdown-item {
            color: $o-main-text-color;

            &:hover {
                color: darken($o-main-text-color, 10%);
            }
        }
        .dropdown-divider:first-child {
            display: none;
        }
    }
}

.dropdown-item {
    position: relative;
    color: $o-main-text-color;

    &:hover {
        color: darken($o-main-text-color, 10%);
    }

    &.selected { // TODO why not using standard BS4 "active" class ?
        color: darken($o-main-text-color, 10%);
        font-weight: bold;

        &:before {
            font-family: FontAwesome;
            position: absolute;
            left: 4px;
            content: "\f00c";
        }
    }
    .o_favorite_edit {
        padding-left: 8px;
        @include o-position-absolute($right: $dropdown-item-padding-x * 1.5);
    }
    .o_trash_button {
        padding-left: 8px;
        @include o-position-absolute($right: $dropdown-item-padding-x * 0.5);
    }
}

.o_filter_info {
    .o_condition_variable {
        color: $o-brand-primary;
        font-weight: bold;
    }

    .o_condition_value {
        font-weight: bold;
        &.o_number {
            color: $purple;
        }
        &.o_boolean {
            color: $teal;
        }
        &.o_string {
            color: $red;
        }
        &.o_object {
            color: $orange;
        }
    }
}
